# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno
.env

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Datos de prueba
data/
*.pdf
*.csv
!data/.gitkeep

# Base vectorial generada
chroma_db/

# Sistema operativo
.DS_Store
.vscode/
.idea/